# Caminho absoluto ou relativo onde o GO está escutando
LOG_OUTPUT_PATH=/caminho/para/sua/pasta/logs

# Lista EXATA dos nomes dos processos no PM2 que você quer escutar
# Se estiver vazio, ele não vai escutar nada por segurança.
PM2_APPS_TO_MONITOR="backend-api,nextjs-front,worker-jobs"

# Opcional: define ambiente para as labels
NODE_ENV=production
